.mainView {
    text-align: center;
}

#mainCanvas {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 0;
}

#movCanvas {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 1;
}

.scoreView {
    flex-direction: column;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 250px;
    z-index: 2;
}

.startTutorial {
    font-size: medium;
}

.playground {
    display: flex;
}
  
.play-button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5em 0 2.5em 5em;
    border-color: transparent transparent transparent #000;
    opacity: .75; 
}

.scoreCount {
    align-items: center;
}

.bestScoreCount {
    display: flex;
    align-items: center;
}

#bestScore {
    font-size: 30px;
}

#score {
    font-size: 30px;
}

.scoreMargin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.zeroMargin {
    margin: 0px;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}
